build/
bld/

*.cmake
*.o
*.obj
*.exe
*.out
*.log
*.swp
*.swo
*.bak
*.tmp
*~


.vscode/
.idea/
*.sublime-project
*.sublime-workspace

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt


tests/*.o
benchmarks/*.o